@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* fonts done */
/* general styles */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.display-flex{
    display: flex;
}
.grey-color{
    color: #8987A1;
}
/* navbar styles */
.nav-bar{
display: flex;
    justify-content: center; 
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 400px;    
}
.nav-links{
    display: flex;
    gap: 48px;
}
.nav-item{
    list-style: none;
    font-size: 16px;
}
.nav-item a{
    text-decoration: none;
    
}
.nav-item-unique{
    color: black;
}
.logo{
    width: 135px;
    height: 82px;
    /* margin: 0 auto;  */
}
/* Nav Done */
/* banner styles */
.banner{
     max-width: 1140px;
  width: 100%;
  height: 460px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 auto;
  padding: 0 100px 60px 100px;
  gap: 20px; 
}

.banner-title{
    font-size: 55px;
    margin-bottom: 0;
    color: #E95A08;
}
.banner-image{
  flex: 1; 
  width: 50%; 
  height: 300px; 
  /* object-fit: cover;  */
  /* object-position: center;  */
  
  min-width: 0; 

  
}
.banner-text{
    flex: 1;     
    height: 300px;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    overflow: hidden; 
    
    
}
.banner-description{
    margin-top: 0;
}
.always{
    color: black;
}

/* Plants Section */
.product-section{
    max-width: 1140px;
    padding: 60px 20px;
    margin: 0 auto;
    text-align: center;
}
.product-header{
    margin-bottom: 40px;
}
.section-title{
    font-size: 50px;
    margin-bottom: 10px;
    color: #E95A08;
}

.section-description{
    font-size: 22px;
    color: #8987A1;

}
.plants{
    color: black;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 20px; */
    box-sizing: border-box;
    width: 100%;
    /* padding: 0 15px; */
    margin: 0 auto; 
}
.product{
    padding: 10px 4px;
    
}
.product-image{
    
}
.product-button{
  padding: 10px 20px;
  background-color: #E95A08;
  color: white;
  width: 100%;   
  font-size: 16px; 
  border: none;             
}
.product-price{
    font-size: 22px;
}
.product-name{
    font-size: 22px;
}

/* 4. Plants Lover Section
 */
 .plants-container{
    display: flex;
    max-width: 1140px;
    /* justify-content: center; */
    margin: 0 auto;
    padding: 60px 20px;
    gap: 60px;

 }
 .plants-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
 }
 .plants-list{
    font-size: 22px;
    color: #8987A1;
    /* margin-top: -50; */
 }
 .plants-bullets{
    /* padding: 20px px; */
    padding-bottom: 20px;
    padding-right: 10px;
 }

 /* Latest Section */
 .latest-section-container{
    max-width: 1140px;
    text-align: center;
    margin: 0 auto;
    padding: 4rem 1rem;
 }
 .latest-header{
    max-width: 900px;
    margin: 0 auto 2rem;
    line-height: 1.5;
 }
  .deals{
    color: black;
 }
 .latest-title{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 10px;
    color: #E95A08;
 }
 .latest-description{
    font-size: 22px;
    color: #8987A1;
 }

 .cards-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    height: 600px;
 }

 .card{
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;

 }

 

 /* card background images */
 .card-1{
    background-image: url(../assets/deal-bloom.png);
 }
 .card-2{
    background-image: url(../assets/deal-ana.png);

 }
 .card-3{
    background-image: url(../assets/deal-zabo.png);
    grid-column: 2; /* Column 2 only */
    grid-row: 1 / -1;
    
 }

 /* overlay */
 .card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    z-index: 1;
 }

 /* card content */
 .card-content{
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
.deal-title{
    font-size: 20px;
    margin-bottom: 10px;
}
.deal-title-1{
    font-size: 40px;
    margin-bottom: 10px;
}
.shop-btn{
    /* text-decoration: none; */
    color: white;
    font-weight: 600px;
    font-size: 16px;
}
.shop-btn-1{
        color: white;
    font-weight: 600px;
    font-size: 28px;
}

/* Join Section */
.join-section{
    display: grid;
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 0 0rem;
    margin-right: 0;
    margin-left: 0;
    position: relative;
    place-items: center;

}
.join-overlay{
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  inset: 0;

}
.join-content{
    position: absolute;
    z-index: 2;
    text-align: center;
    max-width: 830px;
    /* max-height: 140px; */
    width: 100%;
    
}
.join-title {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 0;}

    .join-form{
    display: flex !important;
    width: 100%;
    /* gap: 10px; */
    box-sizing: border-box;
}

.join-form input {
    flex: 3;
    padding: 12px;
    border: none;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
}

.join-form button {
    flex: 1;
    padding: 12px;
    border: none;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
    background: #E95A08;
    color: white;
    cursor: pointer;
}

/* 6. Footer Section */


 